<footer class="footer">

  <div class="footer-container">

    <!-- Logo Section -->
    <div class="footer-col logo-col">

      <div class="logo">
        <img src="assets/logo.png" alt="Gradmint">
      </div>

      <p>
        Transforming ambitious students into industry-ready professionals
        through real execution, mentorship and internships.
      </p>

      <div class="social-links">

        <a href="https://linkedin.com" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a href="https://github.com" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>

        <a href="https://wa.me/919177719681" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>

      </div>

    </div>

    <!-- Programs -->
    <div class="footer-col">

      <h3>Programs</h3>

      <a href="#">Data Engineering</a>
      <a href="#">Full Stack Web Dev</a>
      <a href="#">AI & Machine Learning</a>
      <a href="#">Cloud & DevOps</a>
      <a href="#">Data Analytics</a>

    </div>

    <!-- Company -->
    <div class="footer-col">

      <h3>Company</h3>

      <a href="#">About Us</a>
      <a href="#how-it-works">How it Works</a>
      <a href="#mentors">Mentors</a>
      <a href="#success-stories">Success Stories</a>
      <a href="#">Hire From Us</a>

    </div>

    <!-- Contact -->
    <div class="footer-col">

      <h3>Contact</h3>

      <p>
  📧 <a href="mailto: info@gradminttechnologiespvtltd.com">
     info@gradminttechnologiespvtltd.com
      </a>
    </p>

      <p>
        📍 4th Floor, Siri Height, Ayyappa Socity Main Rd, Madhapur, Hydrabad -500081
      </p>

    </div>

  </div>

  <div class="footer-bottom">

    <span>
      © 2026 Gradmint Technologies. All rights reserved.
    </span>

    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Refund Policy</a>
    </div>

  </div>

</footer>