/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* Smooth Scroll */

html {
  scroll-behavior: smooth;
}

/* Global */

body {
  background: #020617;
  overflow-x: hidden;
  width: 100%;
  color: white;
}

/* Prevent images from breaking mobile layout */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Links */

a {
  text-decoration: none;
}

/* Buttons */

button {
  font-family: inherit;
}

/* Optional scrollbar styling */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}